@using Microsoft.AspNet.Identity
@model IEnumerable<LucidDreamer.Models.DreamText>


<div class="container-fluid plainspace">
    <div class="row" style="position:fixed;width:100%;margin:0 auto;  padding-top:5px;margin-top:0px; z-index:500;background-image:linear-gradient(to right, rgb(128,34,0), black);">
        <div class="col-md-12" style="height:70px;position:relative;">


            <div class="titlepage">
                <h1>DREAM LOG</h1>
            </div>
            <a href="Dream/Create">
                <br />
                <div class="btn btn-infonew">
                    NEW SUBMISSION
                </div>
            </a>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:100px;">
        @foreach (var item in Model.Reverse())
        {
            //if (item.AspId == User.Identity.GetUserId())
            //{

                <div class="panel dreamrecord" style="background-color:transparent; overflow:hidden; border-radius:10px; color:white;padding:0;padding-left:20px; border:1px solid rgba(255,255,255,0.8);">
                    <div class="row">
                        <div class="col-md-2 detailbox" style="background-color:black; color:white;padding:10px; padding-right:10px;border-radius:10px 0 0 10px;">
                            <div class="panel-heading"><h4>Date: @item.Date.ToString("MMM dd yyy H:mm:ss")</h4></div>
                            <table class="dreamindex">
                                <tr>
                                    <td class="labeltext">Lucid:</td>
                                    <td>@Html.DisplayFor(modelItem => item.Lucid)</td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Length:</td>
                                    <td>@Html.DisplayFor(modelItem => item.Length) minutes</td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Scenes:</td>
                                    <td>@Html.DisplayFor(modelItem => item.NScenes)</td>
                                </tr>
                                <tr>
                                    <td class="labeltext">False Awakenings:</td>
                                    <td>@Html.DisplayFor(modelItem => item.NFalseAwakenings)</td>
                                </tr>

                                <tr>
                                    <td class="labeltext">Quality of Insight:</td>
                                    <td style="padding-right:5px;position:relative"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.Insight)%)"></div></td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Rating:</td>
                                    <td style="padding-right:5px;"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.Rating)%)"></div></td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Control:</td>
                                    <td style="padding-right:5px;"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.Control)%)"></div></td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Relatable:</td>
                                    <td style="padding-right:5px;"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.Relate)%)"></div></td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Real:</td>
                                    <td style="padding-right:5px;"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.Real)%)"></div></td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Yourself:</td>
                                    <td style="padding-right:5px;"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.Yourself)%)"></div></td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Colorful:</td>
                                    <td style="padding-right:5px;"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.Colorful)%)"></div></td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Recognisable Surroundings:</td>
                                    <td style="padding-right:5px;"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.RecogniseSurroundings)%)"></div></td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Past Memories:</td>
                                    <td style="padding-right:5px;"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.PastMemories)%)"></div></td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Conflict:</td>
                                    <td style="padding-right:5px;"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.Conflict)%)"></div></td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Resolution:</td>
                                    <td style="padding-right:5px;"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.Resolution)%)"></div></td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Relatable Conflict:</td>
                                    <td style="padding-right:5px;"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.RelatedConflict)%)"></div></td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Prophetic:</td>
                                    <td style="padding-right:5px;"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.Prophetic)%)"></div></td>
                                </tr>
                                <tr>
                                    <td class="labeltext">Spiritual:</td>
                                    <td style="padding-right:5px;"><div class="measurement" style="width:calc(@Html.DisplayFor(modelItem => item.Spiritual)%)"></div></td>
                                </tr>

                            </table>
                            <div class="buttons" style="border-radius:10px;">
                                <div class="row" style="border-radius:10px;">
                                    <div class="col-md-4">@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info q" })</div>
                                    <div class="col-md-4">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning q" })</div>
                                    <div class="col-md-4">@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger q", onclick = "return confirm('Are sure wants to delete?');" })</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 textdetailbox" style="color:black;padding:10px;min-height:500px;">
                            <div class="panel-body" style="min-height:100%;">
                                <h4>SUMMARY</h4>
                                <p>"@Html.DisplayFor(modelItem => item.Summary)"</p><br />
                                <h4>DETAILED ACCOUNT</h4>
                                <p>@Html.DisplayFor(modelItem => item.DetailedText) </p>

                            </div>

                        </div>

                    </div>
                </div>

           // }

        }
    </div>
</div>