@model IEnumerable<LucidDreamer.Models.DreamText>

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lucid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NScenes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NDirectPeople)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NBackgroundPeople)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NKnownPeople)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NFantasyCharacters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NArchitypicalCharacters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NFalseAwakenings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Run)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TFly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Control)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Real)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yourself)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colorful)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecogniseSurroundings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PastMemories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emotion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conflict)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelatedConflict)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prophetic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spiritual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetailedText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lucid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NScenes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NDirectPeople)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NBackgroundPeople)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NKnownPeople)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NFantasyCharacters)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NArchitypicalCharacters)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NFalseAwakenings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Run)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TFly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Control)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Real)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yourself)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colorful)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecogniseSurroundings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PastMemories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emotion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conflict)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resolution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedConflict)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prophetic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spiritual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetailedText)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
