@model LucidDreamer.Models.Diary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Diary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sleep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sleep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MorningTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MorningTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meditation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meditation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exercise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exercise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Breakfast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breakfast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lunch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lunch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dinner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dinner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Energy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Energy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goal1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goal1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goal2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goal2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goal3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goal3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanSummary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
